-- MySQL dump 10.16  Distrib 10.1.37-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: eventos
-- ------------------------------------------------------
-- Server version	10.1.37-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `eventos_alunos`
--

DROP TABLE IF EXISTS `eventos_alunos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos_alunos` (
  `id_aluno` int(11) NOT NULL AUTO_INCREMENT,
  `ra` varchar(15) NOT NULL,
  `serie` varchar(50) NOT NULL,
  `nome_aluno` varchar(100) NOT NULL,
  `nome_pai` varchar(100) DEFAULT NULL,
  `nome_mae` varchar(100) DEFAULT NULL,
  `data` varchar(15) DEFAULT NULL,
  `horas` varchar(10) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `id_usuario` int(11) NOT NULL,
  PRIMARY KEY (`id_aluno`)
) ENGINE=InnoDB AUTO_INCREMENT=1490 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_alunos`
--

LOCK TABLES `eventos_alunos` WRITE;
/*!40000 ALTER TABLE `eventos_alunos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos_alunos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_esperas`
--

DROP TABLE IF EXISTS `eventos_esperas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos_esperas` (
  `id_espera` int(11) NOT NULL AUTO_INCREMENT,
  `id_aluno` int(11) NOT NULL,
  `email` varchar(150) NOT NULL,
  `qtd_convites` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `data` varchar(15) NOT NULL,
  `horas` varchar(10) NOT NULL,
  `obs` text,
  PRIMARY KEY (`id_espera`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_esperas`
--

LOCK TABLES `eventos_esperas` WRITE;
/*!40000 ALTER TABLE `eventos_esperas` DISABLE KEYS */;
INSERT INTO `eventos_esperas` VALUES (1,915,'lucasdesousa19@hotmail.com',3,1,'2019-05-22','15:57',''),(2,915,'lucas.assuncao@freicarlosvicuna.com.br',3,1,'2019-05-22','16:05','');
/*!40000 ALTER TABLE `eventos_esperas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_perfis`
--

DROP TABLE IF EXISTS `eventos_perfis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos_perfis` (
  `id_perfil` int(11) NOT NULL AUTO_INCREMENT,
  `nome_perfil` varchar(100) NOT NULL,
  PRIMARY KEY (`id_perfil`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_perfis`
--

LOCK TABLES `eventos_perfis` WRITE;
/*!40000 ALTER TABLE `eventos_perfis` DISABLE KEYS */;
INSERT INTO `eventos_perfis` VALUES (1,'DETEC'),(2,'COLABORADOR');
/*!40000 ALTER TABLE `eventos_perfis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos_usuarios`
--

DROP TABLE IF EXISTS `eventos_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos_usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) CHARACTER SET utf8 DEFAULT NULL,
  `email` varchar(80) CHARACTER SET utf8 NOT NULL,
  `usuario` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `senha` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `id_turma` int(11) NOT NULL,
  `id_perfil` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos_usuarios`
--

LOCK TABLES `eventos_usuarios` WRITE;
/*!40000 ALTER TABLE `eventos_usuarios` DISABLE KEYS */;
INSERT INTO `eventos_usuarios` VALUES (1,'LUCAS DE SOUSA ASSUN├ç├âO','lucasdesousa19@hotmail.com','lucas.assuncao','securitysystemf',0,1),(2,'PEDRO DE SOUSA','','juiz','juiz',0,2),(3,'EVENTOS','','eventos','eventos',0,0),(4,'EVENTOS','','eventos1','eventos',0,0),(5,'EVENTOS','','eventos2','eventos',0,0),(6,'JUNINA','','junina','junina',0,0),(7,'GICELE PAMSINI MOREIRA ANDRADE','','gicele.moreira','eventos',0,2),(8,'TESTE','','teste','teste',0,2);
/*!40000 ALTER TABLE `eventos_usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-05-30 16:23:14
